.story-main {
  background: #ffffff;
  padding: 4% 8%;
}
.story-main > div {
  flex: 1;
}
.story-main > div > h2 {
  text-align: start;
  font-size: 100px;
  background: -webkit-linear-gradient(-180deg, #50ae98, #9bc354);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story-main > div > p {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #828193;
}
.story-main > div > h6 {
  text-align: start;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}
